@import "tailwindcss";

@theme {
  --color-firstGray: #F6F6F6;
}

body {
  background-color: #ffffff;
  position: relative;
  overflow: hidden;
}

.main-button {
  @apply  text-white font-bold py-4 px-5 rounded-xl w-fit text-xl;
  background-color: #2072B3;
}

.background-color-home {
  inset: 0;
  z-index: 0;
  background: radial-gradient(
    125% 125% at 50% 90%,
    #ffffff 40%,
    #6ebcfc 150%
  );
}



